<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body>
    <header>
         <h1>Ver Producto</h1>
         <nav>
              
         </nav>
    </header>
    <section>
    {{producto.id}}
    {{producto.nombre}}
    {{producto.precio}}
    {{producto.descripcion}}
    </section>
    <footer>
         <p> @ 2015 </p>
    </footer>
</body>
</html>