{% extends '::base.html.twig'%}
{% endblock %}

{% block javascripts %}
{% javascripts output='js/myscript.js'
     debug=false
     'Damd/TwitterAPIBundle/js/jquery.js'
     'Damd/TwitterAPIBundle/js/boostrap.min.js'
%}
 <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}