{% stylesheets '@DamdTwitterAPIBundle/Resources/public/css/*' %}
<link href='{{ asset_url }}' rel='stylesheet' >
{% endstylesheets %}

{% javascripts '@DamdTwitterAPIBundle/Resources/public/js/*' %}
<script type='text/javascript' src='{{ asset_url }}'></script>
{% endjavascripts %}

{% block body %}
<div class="container">
     <div class="row">
     <div class="col-md-10">
 {{ form_start(form,{'attr': {'class': 'form'}})   }}
 <div class="form-group">
     <style>.form-control{width: 50%;}</style>
    {{ form_row(form.tweet,{'label_attr': {'class': 'col-md-2 control-label'},
                            'attr': {'class': 'form-control'}})
     }}
     
     {{ form_row(form.Buscar,{'attr': {'class':'btn btn-primary'}})}}
     </div>
  </div>
 
    
 
 {{ form_errors(form) }}
 {{ form_rest(form) }}
{{ form_end(form) }}
     </div>
  </div>  
  </div>
  
<div class="container">
<div class="row">
  <div id="listTwitts" class="col-md-8">
{% if twitts %}
     {%for twitt in twitts %}
          <div>
             <div class="bg-success" >
             <a href='https://twitter.com/{{twitt.screen_name}}' target=_blank>
              <img src="{{twitt.url_imagen}}"></img>
             </a>
             <a href='https://twitter.com/{{twitt.screen_name}}' 
             target=_blank>@{{twitt.screen_name}}</a>
             <span>Fecha: {{twitt.fecha | date('m-d-Y h:i:s a') }}</span>
             </div>
             <p class="card">{{twitt.tweet}}</p>
          </div>
     {% endfor %}
{% else %}
{% endif %}
  </div> 
  <div id="listBuscadas" class="col-md-3">
   {% if twitts %}
   <div class="row">
     {%for palabra in palabras %}
     
          <div class="col-ls-2" style="display:inline-block">
          <div  class="btn btn-default">
             {{palabra.name}}
          </div>
          </div>
     {% endfor %}
     </div>
{% else %}
{% endif %}
  </div>
</div>
</div>
{% endblock %}