{% extends '::base.html.twig'%}

{% block body %}
    <h1>Hola {{name}} - listo para estudiar</h1>
   
    <div class="curso">{{curso.titulo}}</div>
     <ul>
     {% for modulo in curso.modulos %}
       
        <li>
          <img src= {% if modulo.img %}
                         {{modulo.img}}
                    {% else %}
                         {{"http://lorempixel.com/600/400/abstract/1"}}
                    {% endif %}
                         >
          <h2>{{modulo.titulo}}</h2>
          <p>{{modulo.descripcion}}</p>
        </li>
    {% endfor %}
    </ul>
  <div class="alert"> {{estado}} </div>
{% endblock %}