{% stylesheets filter='less' output='css/compiled-main.css'
     '@DamdTareasBundle/Resources/public/less/*'%}
   <link href="" type="text/css" rel="stylesheet" media="all" />
{% endstylesheets %}
Tareas por realizar
<ul>
{% for tarea in tareas %}
     <li>{{tarea.tarea}} para el dia {{tarea.fecha | date('Y-m-d') }}</li>
{% endfor%}

</ul>
<a href="{{url('damd_tareas_new')}}">Nueva Tarea</a>